<app-navbar></app-navbar>
<div class="contenedor_aboutUS container-fluid">
  <div class="div_titulo_aboutUs">
    <h5 class="titulo_aboutUs">Sobre nosotros</h5>
  </div>
  <div class="info_aboutUs">
    <div id="sobre_nosotros">
      <p>
        Bienvenido a <strong>O'joyas y accesorios</strong>, donde la elegancia y la calidad se fusionan para ofrecerte
        una
        exclusiva
        colección de aretes, collares, manillas y otros accesorios de moda. Nuestra misión es crear piezas que no solo
        embellezcan, sino que también cuenten historias y resalten la individualidad de cada uno de nuestros clientes.
      </p>
    </div>
  </div>
  <div class="div_titulo_aboutUs">
    <h5 class="titulo_aboutUs">Nuestra historia</h5>
  </div>
  <div class="info_aboutUs">
    <div id="sobre_nosotros">
      <p>
        <strong>O'joyas y accesorios</strong> nació de la pasión por el diseño y la joyería fina. Desde nuestros
        inicios,
        nos hemos dedicado a seleccionar cuidadosamente los materiales más finos, como el oro laminado, el rodio y el
        acero, para asegurar que cada pieza cumpla con los más altos estándares de calidad y durabilidad.
      </p>
    </div>
  </div>
  <div class="div_titulo_aboutUs">
    <h5 class="titulo_aboutUs">Nuestros materiales</h5>
  </div>
  <div class="row div_doble">
    <div class="col-sm-8 m-auto">
      <p>
        Nos enorgullece trabajar con materiales de primera calidad. El oro laminado, conocido por su brillo y
        resistencia, el rodio, apreciado por su acabado impecable y su capacidad para resistir el desgaste, y el acero,
        reconocido por su robustez y modernidad, son los pilares de nuestras creaciones. Cada material es seleccionado
        no solo por su belleza, sino también por su capacidad de ofrecer durabilidad y elegancia.
      </p>
    </div>
    <div class="col-sm-2 m-auto div_img_anillo">
      <img src="/assets/img/anillo.png" alt="Logo" id="img_anillo">
    </div>
  </div>
  <div class="div_titulo_aboutUs">
    <h5 class="titulo_aboutUs">Nuestro compromiso</h5>
  </div>
  <div class="info_aboutUs">
    <div id="sobre_nosotros">
      <p>
        En <strong>O'joyas y accesorios</strong>, nuestro compromiso es con nuestros clientes.
        Nos esforzamos por ofrecer un servicio excepcional, desde la atención personalizada hasta la entrega de
        productos que excedan tus expectativas. Creemos que cada accesorio es una declaración de estilo y personalidad,
        por lo que ponemos nuestro corazón y alma en cada diseño.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>