.contenedor_productos {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.div_productos {
  width: 90%;
}

#titulo_pagina {
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  color: white;
  text-shadow: 1px 2px 7px black;
}

.tarjeta {
  box-shadow: 1px 2px 7px black;
}

.btn-visualizar {
  background-color: #495fa6;
  color: white;
}

.tarjeta_producto {
  color: black;
  margin-top: 20px;
}

.texto_descripcion {
  text-align: justify;
}

.img_producto {
  width: 270px;
  height: 270px;
  object-fit: cover;
  border-radius: 8px;
  filter: contrast(100%);
}

.texto_body {
  margin: auto;
  width: 80%;
}
