<div class="container_footer container-fluid">
  <footer class="pt-5 pb-4 pl-5 pr-6 footer">
    <div class="conteiner text-md-left">
      <div class="row text-md-left w-100">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto text-center">
          <h5 class="titulos_footer">O' joyas y accesorios</h5>
        </div>
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto">
          <h5 class="titulos_footer">Quienes somos</h5>
          <p>En O'joyas y accesorios, nos dedicamos a la creación y venta de elegantes aretes, collares, manillas y una
            variedad de accesorios fabricados con los mejores materiales, incluyendo oro laminado, rodio y acero.</p>
        </div>
        <div class="col-sm-3 col-lg-2 col-xl-2 mx-auto">
          <h5 class="titulos_footer">Accesos</h5>
          <p><a routerLink="/home">Inicio</a></p>
          <p><a routerLink="/aboutUs">Sobre nosotros</a></p>
          <p><a>Productos</a></p>
        </div>
        <div class="col-sm-3 col-lg-3 col-xl-3 mx-auto">
          <h5 class="titulos_footer">Contactanos</h5>
          <p><i class="fas fa-phone"></i> 304 581 54 04</p>
          <p><i class="fa-brands fa-instagram"></i> ojoyasyaccesorios</p>
          <p><i class="fa-brands fa-whatsapp"></i> 304 581 54 04</p>
        </div>
      </div>
    </div>
  </footer>
</div>