<app-navbar></app-navbar>
<div>
  <div class="row justify-content-center fila mb-5 mt-4">
    <div class="col-sm-3 columnas">
      <h5 class="mt-3 text-center">Gestion de productos</h5>
      <p class="mt-3 p-3">En este apartado encontraras acciones basicas sobre los productos como modificarlos,
        eliminarlos o crear nuevos</p>
      <div class="boton_ingresar mb-3 text-center">
        <a routerLink="/admin/manage-products" class="btn p-1">Ingresar</a>
      </div>
    </div>
    <div class="col-sm-3 columnas">
      <h5 class="mt-3 text-center">Ordenes pendientes</h5>
      <p class="mt-3 p-3">Encontraras las ordenes que aun estan en estado activo y pendientes para despachar.</p>
      <div class="boton_ingresar mb-3 text-center">
        <a class="btn p-1">Ingresar</a>
      </div>
    </div>
    <div class="col-sm-3 columnas ">
      <h5 class="mt-3 text-center">Ordenes finalizadas</h5>
      <p class="mt-3 p-3">Encontraras las ordenes finalizadas</p>
      <div class="boton_ingresar mb-3 text-center">
        <a class="btn p-1">Ingresar</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>