a {
  background-color: #495fa6;
  color: white;
}

p {
  text-align: justify;
}

.div_cards {
  margin-right: 5px;
}

.columnas {
  background-color: white;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 5px;
}

.fila {
  width: 100%;
}
