<app-navbar></app-navbar>
<div class="contenedor">
  <div class="row">
    <div class="col-sm-6">
      <img href="">
    </div>
    <div class="col-sm-5 contenido">
      <h5 class="titulo">Nombre</h5>
      <div class="elementos mt-4">
        <p><strong>Marca: </strong></p>
        <p><strong>Cant disponible: </strong></p>
        <p><strong>Descripción: </strong></p>
        <p><strong>Peso: </strong></p>
        <p class="text-center"><strong>$ 100.000</strong></p>
        <button class="btn bg-success btn_comprar">Comprar</button>
        <a routerLink="/product/list-products" class="btn btn_volver">Volver</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>